<nav class="navbar mb-3">
  <div class="container-fluid p-0">
    <a href="ftp_settings" class="btn btn-outline-secondary me-2 d-flex p-3" tooltip="FTP Settings">
      <i class="fal fa-sliders-h fa-lg"></i>
    </a>
    <div class="col">
      {% include "disks/options.html" %}
    </div>
    <div class="col">
      <form class="simple_form d-flex" action="/search" method="post" data-controller="submit-on-keyup"
        data-submit-on-keyup-target="form">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="TV or Movie Title" aria-label="TV or Movie Title"
            name="search" data-submit-on-keyup-target="input" required
            value="{% if query | default(value="") != "" %}{{query}}{% endif %}">
          <button class="btn btn-outline-primary" type="submit" id="button-addon2">Search</button>
        </div>
      </form>
    </div>
  </div>
</nav>
