<nav class="navbar mb-3">
  <div class="container-fluid p-0">
    <div class="col-6">
      {% include "disks/options.html" %}
    </div>
    <div class="col-6">
      <form class="simple_form d-flex" action="/search" method="post" data-controller="submit-on-keyup">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="TV or Movie Title" aria-label="TV or Movie Title"
            name="search" data-action="keyup->submit-on-keyup#submitWithDebounce" data-submit-on-keyup-target="input"
            required value="{% if query | default(value="") != "" %}{{query}}{% endif %}">
          <button class="btn btn-outline-primary" type="submit" id="button-addon2">Search</button>
        </div>
      </form>
    </div>

  </div>
</nav>
