<form data-turbo-frame="videos" data-turbo-action="replace" class="simple_form row" id="new_search" action="/search"
  accept-charset="UTF-8" method="get" data-controller="submit-on-keyup">
  <div class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Search for TV or Movie" aria-label="Search for TV or Movie"
      aria-describedby="basic-addon2" data-action="keyup->submit-on-keyup#submitWithDebounce">
    <button class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
  </div>
</form>


<turbo-frame class="display-flex" id="videos"></turbo-frame>
