{% import "_poster.html" as macros %}

<div class="row">
  <div class="col show-img-posters">
    <a class="btn img-poster-btn p-0 mb-2 m-0" href="/tv/{{ tv.id }}">
      {{
      macros::poster_stack(
      front_poster_path=season.poster_path,
      front_name=season.name,
      front_original_name=season.name,
      back_poster_path=tv.poster_path,
      back_name=tv.name,
      back_original_name=tv.original_name
      )
      }}
    </a>
  </div>
  <div class="col" style="width: 75%;">
    <h3 class="tv-name">
      <i class="fa fa-film" data-prefix="fas" data-icon="film"></i>
      <a class="link-light link-opacity-50-hover link-underline-opacity-25 pb-1" href="/tv/{{ tv.id }}">{{ tv.name_year
        }}</a>
      <small class="text-body-secondary">{{ season.name }}</small>
    </h3>
    <div class='tv-facts'>
      <span>{{ tv.first_air_date }}</span>
      {% for genre in tv.genres %}
      <span class="badge rounded-pill text-bg-secondary">
        {{ genre.name }}
      </span>
      {% endfor %}
    </div>
    <div class="tv-description">
      <p>
        {{ tv.overview }}
      </p>
    </div>
  </div>
</div>
