<div class="row">
  <div class="col" style="width: 225px; max-width: 225px;">
    {% if movie.poster_path %}
    <img class="img-poster" width="200" loading="lazy" src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}"
      alt="{{ movie.title | default(value=movie.original_title | default(value='Unknown')) }}">
    {% else %}
    <img class="img-poster" width="200" loading="lazy" src="/images/placeholder.jpg"
      alt="{{ movie.title | default(value=movie.original_title | default(value='Unknown')) }}">
    {% endif %}
  </div>
  <div class="col" style="width: 75%;">
    <h3 class="movie-title">
      <i class="fa fa-film" data-prefix="fas" data-icon="film"></i>
      <a class="link-light link-opacity-50-hover link-underline-opacity-25 pb-1"
        href="https://www.themoviedb.org/movie/{{ movie.id }}" target="_blank">
        {{ movie.title }} ({{ movie.release_date | to_year }})
      </a>
    </h3>
    <div class='movie-facts'>
      <span class="certification-rating">{{ certification }}</span>
      <span>{{ movie.release_date }}</span>
      {% for genre in movie.genres %}
      <span class="badge rounded-pill text-bg-secondary">
        {{ genre.name }}
      </span>
      {% endfor %}
    </div>
    <div class="movie-description">
      <p>
        {{ movie.overview }}
      </p>
    </div>
  </div>
</div>
<div class="row">
  {% include "disk_titles/options.html" %}
</div>
