<div id="{{ self.dom_id() }}" class="version-notification">
  {% if self.version_state.has_update %}
  <div class="version-card version-card--update">
    <div class="version-card__icon">
      <i class="fal fa-download"></i>
    </div>
    <div class="version-card__content">
      <div class="version-card__version">v{{ self.version_state.current_version }}</div>
      <div class="version-card__status">Update available</div>
      <div class="version-card__description">A new version is available for download</div>
    </div>
    <a href="{{ self.download_url() }}" class="version-card__button" target="_blank" rel="noopener noreferrer">
      Download Now
    </a>
  </div>
  {% else %}
  <div class="version-card version-card--current">
    <div class="version-card__icon">
      <i class="fal fa-check-circle"></i>
    </div>
    <div class="version-card__content">
      <div class="version-card__version">v{{ self.version_state.current_version }}</div>
      <div class="version-card__status">Up to date</div>
      <div class="version-card__description">You're running the latest version</div>
    </div>
  </div>
  {% endif %}
</div>
