<turbo-stream action="update" method="morph" target="{{ disks_options.dom_id() }}">
  <template>
    {{ disks_options.render_html() | safe }}
  </template>
</turbo-stream>

<turbo-stream action="update" method="morph" targets=".{{ seasons_parts.selector_class() }}">
  <template>
    {{ seasons_parts.render_html() | safe }}
  </template>
</turbo-stream>

<turbo-stream action="update" method="morph"  target="{{ movies_cards.dom_id() }}">
  <template>
    {{ movies_cards.render_html() | safe }}
  </template>
</turbo-stream>
