{% import "disks/_item.html" as macros %}

<div class="input-group input-group-lg" id="disk-selector" data-controller="disk-select">
  {% set any_ripped = false %}
  {% if selected_disk %}
    {% set_global selected_disk_id = selected_disk.id %}
    {% if selected_disk.titles | length > 0 %}
      {% for title in selected_disk.titles %}
        {% if title.rip %}
          {% set_global any_ripped = true %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}

  {% if any_ripped %}
    <button class="btn btn-primary" type="button" href="/rip_season">
      <i class="fad fa-compact-disc fa-lg"></i>
    </button>
  {% else %}
    <button class="btn btn-primary" type="button" disabled="disabled">
      <i class="fad fa-compact-disc fa-lg"></i>
    </button>
  {% endif %}


  <div class="dropdown pe-1">
    <div class="btn dropdown-toggle dropdown-item w-100 text-start rounded-end" type="button" data-bs-toggle="dropdown"
      data-disk-select-target="selectedDropdown">
      {% if selected_disk %}
        {{ macros::disk_item(
        selected=(title.rip and title.part == part_num),
        name=selected_disk.name,
        value=selected_disk.id,
        loading=selected_disk.has_process,
        any_titles=(selected_disk.titles | length > 0)
        ) }}
      {% else %}
        {{
        macros::disk_item(
        selected=true,
        name='No Optical Drive Detected',
        value='',
        loading=false,
        any_titles=false
        ) }}
      {% endif %}
    </div>

    {% if optical_disks %}
      <ul class="dropdown-menu w-100 dropdown-menu-dark">
        {% for optical_disk in optical_disks %}
          <li>
            {% if optical_disk.id == selected_disk_id %}
              {{
              macros::disk_item(
              selected=true,
              name=optical_disk.name,
              value=optical_disk.id,
              loading=optical_disk.has_process,
              any_titles=(optical_disk.titles | length > 0)
              )
              }}
            {% else %}
              {{
              macros::disk_item(
              selected=false,
              name=optical_disk.name,
              value=optical_disk.id,
              loading=optical_disk.has_process,
              any_titles=(optical_disk.titles | length > 0)
              ) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
