<div id="disk-progress" class="toast-container position-fixed bottom-0 end-0 p-3">
  {% if progress %}
  <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header">
      <strong class="me-auto">{{ movie_title_year }}</strong>
      <small>{{ progress.eta }}</small>
    </div>
    <div class="toast-body">
      <div class="mb-2">{{ progress.label }}</div>
      <div class="progress mb-2" role="progressbar" aria-label="{{ progress.label }}"
        aria-valuenow="{{ progress.percentage }}" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: {{ progress.percentage }}%">{{progress.percentage }}%</div>
      </div>
      <div class="overflow-hidden">{{ progress.message }}</div>
    </div>
  </div>
  {% endif %}
</div>
