<h3 class="mb-3">{{ optical_disk.name }}</h3>
<div class="table-responsive">
  <table class="table table-striped table-bordered align-middle">
    <thead class="table-dark">
      <tr>
        <th></th>
        <th>Chapter Count</th>
        <th>Duration</th>
        <th>Size</th>
        <th>Lang</th>
        <!-- Extra details hidden on smaller screens -->
        <th class="d-none d-lg-table-cell overflow-hidden">Description</th>
        <th class="d-none d-lg-table-cell">Bytes</th>
        <th class="d-none d-lg-table-cell">Angle</th>
        <th class="d-none d-lg-table-cell">Seg Count</th>
        <th class="d-none d-lg-table-cell">Seg Map</th>
        <th class="d-none d-lg-table-cell">Filename</th>
        <th class="d-none d-lg-table-cell">ID</th>
      </tr>
    </thead>
    <tbody>
      {% if optical_disk.titles | length > 0 %}
      {% for title in optical_disk.titles %}
      <tr>
        <td><a class="btn" data-rip-one-target="link" data-action="click->rip-one#rip"
            data-disk-id="{{ optical_disk.id }}" data-title-id="{{ title.id }}">RIP
            ONE</a>
        </td>
        <td>{{ title.chapter_count | default(value="") }}</td>
        <td>{{ title.duration | default(value="") }}</td>
        <td>{{ title.size | default(value="") }}</td>
        <td>{{ title.lang | default(value="") }}</td>
        <!-- Extra details -->
        <td class="d-none d-lg-table-cell overflow-hidden">{{ title.description | default(value="") }}</td>
        <td class="d-none d-lg-table-cell">{{ title.bytes | default(value="") }}</td>
        <td class="d-none d-lg-table-cell">{{ title.angle | default(value="") }}</td>
        <td class="d-none d-lg-table-cell">{{ title.segment_count | default(value="") }}</td>
        <td class="d-none d-lg-table-cell">{{ title.segment_map | default(value="") }}</td>
        <td class="d-none d-lg-table-cell">{{ title.filename | default(value="") }}</td>
        <td class="d-none d-lg-table-cell">{{ title.id }}</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="13" class="text-center">
          <div class="d-flex justify-content-center align-items-center py-3">
            <div class="spinner-border text-primary" role="status" aria-hidden="true"></div>
            <span class="ms-2">Loading title info…</span>
          </div>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
