{% macro poster(poster_path) %}
  {% if let Some(path) = poster_path %}
    <img class="img-poster" width="200" loading="lazy" src="https://image.tmdb.org/t/p/w200{{ path }}">
  {% else %}
    <img class="img-poster" width="200" loading="lazy" src="/images/placeholder.jpg">
  {% endif %}
{% endmacro %}

{% macro poster_stack(front_poster_path, back_poster_path) %}
  <div class="img-stack">
    {% if let Some(path) = back_poster_path %}
      <img class="img-poster img-poster-behind" width="200" loading="lazy"
           src="https://image.tmdb.org/t/p/w200{{ path }}">
    {% else %}
      <img class="img-poster" width="200" loading="lazy"
           src="/images/placeholder.jpg">
    {% endif %}

    {% if let Some(path) = front_poster_path %}
      <img class="img-poster img-poster-front" width="200" loading="lazy"
           src="https://image.tmdb.org/t/p/w200{{ path }}">
    {% else %}
      <img class="img-poster" width="200" loading="lazy"
           src="/images/placeholder.jpg">
    {% endif %}
  </div>
{% endmacro %}
